.CX3A_MAGIC {
  display:none;
}
.CX3A {
  font-size: 16px;
  min-width: 300px;
  max-width: 400px;
  text-align: left;
  color: lightgray;
  --saturdayColor : slateBlue;
  --sundayColor: crimson;
  --todayColor: gold;
}



.CX3A.bodice {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.CX3A .agenda {
  position: relative;
  max-height: 600px;
  overflow-y: hidden;
}

.CX3A .agenda::after {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 20%;
  width: 100%;
  content: ' ';
  background-image: linear-gradient(to bottom, transparent, black);
}

.CX3A .cellBody {
  line-height: 105%;
}


.CX3A .cellHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.CX3A .cellHeaderMain {
  display: flex;
  gap: 3px;
  text-transform: uppercase;
}

.CX3A .cellDay {
  font-weight: bold;
  color: white;
}


.CX3A .cell.weekday_6 .cellDay {
  color: var(--saturdayColor);
}

.CX3A .cell.weekday_0 .cellDay {
  color: var(--sundayColor);
}

.CX3A .cell.today .cellDay {
  color: var(--todayColor);
}

.CX3A .cell.today .cellHeader {
  color: var(--todayColor);
}

.CX3A .cellHeader .cw {
  display: none;
  background-color: gray;
  border-radius: 4px;
  color: black;
  font-size: 50%;
  line-height: 50%;
  padding: 4px 2px;
  height: auto;
}

.CX3A .cellHeader .cw::before {
  content: 'CW:'
}

.CX3A .cellBody .fullday {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 5px;
}

.CX3A .event .headline {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  align-items: baseline;
}

.CX3A .event .title {
  color: white;
}

.CX3A .cellBody .fullday .event {
  background-color: var(--calendarColor);
  border-radius: 5px;
  padding: 2px 5px;
  display: inline-block;
  font-size: 90%;
  line-height: 100%;
  max-width: 50%;
}

.CX3A .cellBody .fullday .event .title {
  color: var(--oppositeColor);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  font-weight: bold;
}

.CX3A .cellBody .fullday .event > :not(.headline) {
  display: none;
}

.CX3A .cellBody .fullday .event .headline :not(.title) {
  display: none;
}


.CX3A .cellWeather {
  display: flex;
  justify-content: flex-end;
  align-self: center;
}

.CX3A .cellWeather .temperature {
  margin-right: 5px;
}

.CX3A .cellWeather .temperature::after {
  content: '°'
}

.CX3A .cellWeather .maxTemp {
  font-weight: bold;
}

.CX3A .cellWeather .wi:before {
  vertical-align: text-bottom;
}

.CX3A .agenda .cell {
  padding-top: 2px;
  border-bottom: 1px solid gray;
  margin-top: 2px;
}

.CX3A .event .description {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  font-size: 90%;
  color: lightgray;
  padding-left: 20px;
}

.CX3A .event .location {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  font-size: 80%;
  color: darkgray;
  text-align: right;
}

.CX3A .event .time {
  font-size: 75%;
  vertical-align: text-bottom;
}

.CX3A .event .time.notInDay {
  display: none;
}


.CX3A .event .startTime::after {
  content: ' -';
}

.CX3A .event .startTime.notInDay + .endTime.inDay::before {
  content: '- ';
}

.CX3A .event .headline .symbol {
  color: var(--calendarColor);
  font-size: 75%;
  vertical-align: text-bottom;
}

.CX3A .event .headline .symbol.noSymbol::after {
  content: '⬤';
}

.CX3A .event.passed {
  filter: brightness(0.6) grayscale(0.33);
}

.CX3A .event.current {
  filter: saturate(2);
  font-weight: bold;
}

.CX3A .miniMonth {
  border: none;
  font-size: 85%;
  table-layout: fixed;
  width: 100%;
}

.CX3A .miniMonth .cell {
  max-width: calc(100% / 7);
  min-width: calc(100% / 8);
}

.CX3A .miniMonth .cell .content {

  display: flex;
  flex-direction: column;
}

.CX3A .miniMonth .cell .date {
  display: block;
  text-align: center;
}


.CX3A .miniMonth .cell .events {
  height: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2px;
  text-overflow: clip;
  max-width: 100%;
}

.CX3A .miniMonth .cell .events .eventDot {
  height: 4px;
  width: 4px;
  color: var(--calendarColor);
  font-size: 4px;
  line-height: 100%;
}

.CX3A .miniMonth .cell.today .date {
  color: var(--todayColor);
  font-weight: bold;
}

.CX3A .miniMonth .cell:not(.thisMonth) .date {
  color: gray;
}

.CX3A .miniMonth .weeks.thisWeek {
  background-color: rgba(255, 255, 255, 0.2);
}

.CX3A .miniMonth .weekname {
  text-align: center;
}

.CX3A .miniMonth .weekday_0 {
  color: var(--sundayColor);
}

.CX3A .miniMonth .weekday_6 {
  color: var(--saturdayColor);
}

.CX3A .miniMonth .cw {
  border-right: 1px solid gray;
  text-align: right;
  padding-right: 5px;
  font-size: 80%;
  color: gray;
  vertical-align: top;
  /* display: none; */
}

.CX3A .miniMonth .weeks.thisWeek .cw {
  color: white;
  font-weight: bold;
}

.CX3A .miniMonth caption {
  caption-side: top;
  font-size: 150%;
  text-align: right;
  font-weight: bold;
}

/* Tip (in your custom.css) */

/* 1. miniMonth Calendar Only */
/*
.CX3A .agenda {
  display: none;
}
*/

/* 2. Show the days only which has event on the day. */
/*
.CX3A .agenda .cell[data-events-counts="0"] {
  display: none;
}
*/

/* show/hide event description or location */
/*
.CX3A .agenda .event .description, 
.CX3A .agenda .event .location {
  display: none;
}
*/